<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/form.css">
</head>
<body>
<%- include('includes/menu.ejs') %>

<main>
    <h2>Add Question</h2>
    <section class="section">
        <form class="form song-form" action="/admin/quiz/<%= quizId %>/add-question" method="POST">
            <% if(errors.length > 0) { %>
            <div class="form-error">
                <p>
                    <%= errors[0].msg %>
                </p>
            </div>
            <% } %>
            <div class="form-control">
                <label for="question">Question Text</label>
                <input type="text" name="question" id="question" value="<%= question.question %>">
            </div>
            <div class="form-control">
                <label for="type">Type</label>
                <select name="type" id="type">
                    <option value="one" <%= question.type === 'one' ? 'selected' : '' %>>one</option>
                    <option value="multi" <%= question.type === 'multi' ? 'selected' : '' %>>multi</option>
                </select>
            </div>
            <input type="hidden" name="quizId" value="<%= quizId %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Add Question</button>
        </form>
    </section>
</main>

<%- include('includes/end.ejs') %>