<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/music.css">
</head>
<body>
<%- include('includes/menu.ejs') %>

<main>
    <h2>Categories</h2>
    <section class="section list">
        <% for(category of categories) { %>
        <div class="item">
            <div class="quiz-item">
                <div class="manager">
                    <a href="/admin/edit-category/<%= category._id %>" class="btn btn-outline-info"><span><i class="fa fa-pencil" aria-hidden="true"></i> Edit</span></a>
                    <form action="/admin/delete-category" method="POST">
                        <input type="hidden" name="categoryId" value="<%= category._id %>">
                        <button type="submit" class="btn btn-outline-danger"><i class="fa fa-times" aria-hidden="true"></i> Remove</button>
                    </form>
                </div>
                <div class="details">
                    <h2><%= category.name %></h2>
                    <span>Category: </span><span>sss</span>
                    <p><%= category.description %></p>
                    <a href="/admin/category/<%= category._id %>" class="btn btn-outline-dark"><i class="fa fa-cogs" aria-hidden="true"></i> Manage</a>
                </div>
                <div class="photo">
                    <img src="<%= category.photo ? category.photo : 'https://www.flaticon.com/svg/static/icons/svg/3326/3326737.svg' %>">
                </div>
            </div>
        </div>
        <hr>
        <% } %>
    </section>
</main>

<%- include('includes/end.ejs') %>